graph { fill-color: white; }
node { fill-mode: image-scaled; fill-image: url('https://img.icons8.com/bubbles/2x/city.png'); }

.background_tile {
    -fx-background-image: url("Icons/background_tile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 200px;
}

.background_tile_filled {
    -fx-background-image: url("Icons/background_tile_filled.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 200px;
}