graph { fill-color: white; }
node { fill-mode: image-scaled; fill-image: url('https://img.icons8.com/bubbles/2x/city.png'); }

@font-face {
    font-family: 'AlloyInk';
    src: url('AlloyInk-nRLyO.ttf');
}

.background_tile {
    -fx-background-image: url("Icons/background_tile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
/*    -fx-width: 200px; 
    -fx-height: 200px;*/
}

.background_tile_filled {
    -fx-background-image: url("Icons/background_tile_filled.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
/*    -fx-width: 200px; 
    -fx-height: 200px;*/
}

.FINISHED_COLOR {
    -fx-fill: #3FA838;
}

.PAUSED_COLOR {
    -fx-fill: #E7722C;
}

.STOPPED_COLOR {
    -fx-fill: #f00c10;
}

.RUNNING_COLOR {
    -fx-fill: #8b928a;
}

.test {
    -fx-font-family: 'AlloyInk';
}