graph { fill-color: white; }
node { fill-mode: image-scaled; fill-image: url('https://img.icons8.com/bubbles/2x/city.png'); }

@font-face {
    font-family: 'AlloyInk';
    src: url('AlloyInk-nRLyO.ttf');
}

.background_tile {
    -fx-background-image: url("Icons/background_tile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
/*    -fx-width: 200px; 
    -fx-height: 200px;*/
}

.background_tile_filled {
    -fx-background-image: url("Icons/background_tile_filled.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
/*    -fx-width: 200px; 
    -fx-height: 200px;*/
}

.FINISHED_COLOR {
    -fx-fill: #3FA838;
}

.PAUSED_COLOR {
    -fx-fill: #E7722C;
}

.STOPPED_COLOR {
    -fx-fill: #f00c10;
}

.RUNNING_COLOR {
    -fx-fill: #8b928a;
}

.backgroundColor {
    /*#6942A0*/
    /*-fx-background-color: linear-gradient(to top, white, #6942A0);*/
    -fx-background-color: linear-gradient(to top, #7950AC, #9769D7);
}

.backgroundColorDark {
    /*-fx-background-color: #613B93;*/
    -fx-background-color: linear-gradient(to top, #7950AC, #9769D7);
}

.textColor {
    -fx-fill: #FBFAFC;    
    -fx-text-fill: #FBFAFC;    
}

.textColorDark {
    -fx-fill: #D1BFEA;    
    -fx-text-fill: #D1BFEA;    
}

.buttonColor {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #FBFAFC;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #FBFAFC;
}
.buttonColor:hover {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #FBE44D;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #FBE44D;
    -fx-effect: dropshadow(three-pass-box, #FBE44D, 10, 0, 0, 0);
}

.buttonBack {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #9467D3;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
/*    -fx-border-width: 2px;
    -fx-border-color: #9467D3;*/
}
.buttonBack:hover {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #9467D3;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
/*    -fx-border-width: 2px;
    -fx-border-color: #9467D3;*/
    -fx-effect: dropshadow(three-pass-box, #9467D3, 10, 0, 0, 0);
}

.buttonDelete{
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #A00000;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color:  #A00000;
}
.buttonDelete:hover {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #A00000;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color:  #A00000;
    -fx-effect: dropshadow(three-pass-box, #A00000, 3, 0, 0, 0);
}

.buttonStart{
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill: #85B67A;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color:   #85B67A;
}
.buttonStart:hover {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #85B67A;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color:   #85B67A;
    -fx-effect: dropshadow(three-pass-box,  #85B67A, 10, 0, 0, 0);
}

.btnOutlined {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #FD9294;
}
.customised-text{
	-fx-fill: #FD9294;
}

.startBtn {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #85B67A;
    -fx-border-color:  #85B67A;
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
}

.stopBtn {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #EA5255;
    -fx-border-color:  #EA5255;
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
}

.restartBtn {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #D7C229;
    -fx-border-color:  #D7C229;
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
}

.saveBtn {
    /*-fx-font-family: 'AlloyInk';*/
    -fx-text-fill:  #3E9FE0;
    -fx-border-color:  #3E9FE0;
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
}

.demoText {
    -fx-font-weight: bold;
    -fx-fill: #FBFAFC;    
    -fx-text-fill: #FBFAFC;        
}


/*
---------------- MAP LOADING ------------------ 
*/

.load-a-map-btn-wrapper:hover .load-a-map-btn{
    /* -fx-background-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 10px; */
    /* -fx-cursor: pointer; */
    /* -fx-text-fill: black;  */
}
.load-a-map-btn{
    -fx-fill: #fd9294; 
    -fx-font: 19 System; 
    -fx-font-weight: bold;
}
/*.load-a-map-btn:hover{
    -fx-text-fill: #ed1fbd;
}*/
.empty-map-text{
    -fx-text-fill: #ed1fbd; 
    -fx-fill: #fd9294;
    -fx-text-inner-color: #ed1fbd; 
    -fx-font: 19 System; 
    -fx-font-weight: bold;
}

.backgroundColorDark {
    /*-fx-background-color: #613B93;*/
    /* -fx-background-color: linear-gradient(to top, #7950AC, #9769D7); */

    -fx-background-image: url("Icons/background2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.dark-mode-text{
    -fx-font-weight: bold;
    -fx-font: 19 System; 
}

/*------------------- Checkbox Sun/Moon -------------------*/
.darkmodeCheckbox>.box {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
}

.darkmodeCheckbox>.box>.mark {
    /*unmarked*/
  -fx-background-color: transparent;
  -fx-background-image: url("Icons/moon.png");
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-background-repeat: stretch;
  -fx-scale-x: 3.0;
  -fx-scale-y: 3.0;
  -fx-shape: none;
}

.darkmodeCheckbox:selected>.box>.mark{
  -fx-background-color: transparent;  
  -fx-background-image: url("Icons/sun.png");
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-background-repeat: stretch;
  -fx-scale-x: 3.0;
  -fx-scale-y: 3.0;
  -fx-shape: none;
}

.sliderCustom {
    -fx-background-color:transparent;
    -fx-control-inner-background: #D1BFEA!important;
}
.sliderCustom:thumb{-fx-background-color: #1354cb!important;}